<% include ./../helpers/showProduct %>
<% 
	const collection = "products";
	const folderUpload 	= `uploads/${collection}/`;
%>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Bán Chạy Trong Tuần</h2>
                    <p>Các sản phẩm phổ biến nhất của cửa hàng dựa trên doanh số bán hàng</p>
                </div>
                <div class="productSlider grid-products">
                    <% listProductBestSeller.forEach((items)=> { %>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <a href="san-pham/<%= items.id %>" class="grid-view-item__link">
                                    <%- imageMulti(items.images, folderUpload) %>  
                                </a>
                                <!-- Start product button -->
                                <form class="variants add" action="#"method="post">
                                    <a href="javascript:void(0);" class="addtocart" ><button data-product="product-<%= items.id %>" class="btn addtocart"  type="button" tabindex="0">THÊM GIỎ HÀNG</button></a>
                                    <a href="javascript:void(0);" class="addtolove" ><button data-product="product-<%= items.id %>" class="btn addtolove"  type="button" tabindex="0">YÊU THÍCH</button></a>

                                </form>
                                <div class="button-set">
                                    <!-- <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view"
                                        data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a> -->
                                    <!-- <div class="wishlist-btn">
                                        <a class="wishlist add-to-wishlist" data-product="product-<%= items.id %>" href="javascript:void(0);" title="Add to Love">
                                            <i class="icon anm anm-heart-l" data-product="product-<%= items.id %>"disabled></i>
                                        </a>
                                    </div> -->
                                </div>
                                <!-- end product button -->
                            </div>
                            <!-- end product image -->
    
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/san-pham/<%= items.id %>"><%= items.name %> </a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price"><%= items.price.toLocaleString() %> VND</span>
                                </div>
                                <!-- End product price -->
                                <!-- Color Variant -->
                                <!-- <ul class="swatches">
                                    <li class="swatch small rounded black"
                                        rel="frontend//frontend/assets/images/product-images/product-image2.jpg"></li>
                                    <li class="swatch small rounded navy"
                                        rel="frontend//frontend/assets/images/product-images/product-image-swt2.jpg"></li>
                                    <li class="swatch small rounded purple"
                                        rel="frontend//frontend/assets/images/product-images/product-image-swt2-1.jpg"></li>
                                    <li class="swatch small rounded teal"
                                        rel="frontend//frontend/assets/images/product-images/product-image-swt2-2.jpg"></li>
                                </ul> -->
                                <!-- End Variant -->
                            </div>
                            <!-- End product details -->
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</div>