<% include ./../../helpers/image %>
<% 
	const collection = "contact";
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
	errors = errors ?? {};
	const folderUpload 	= `uploads/${collection}/`;
%>

<div class="card card-info card-outline">
	<form action="<%= linkPrefix %>save/" method="POST" class="mb-0" enctype="multipart/form-data" name="form-upload">
		<div class="card-body">
		
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label text-sm-right required">Tên</label>
				<div class="col-xs-12 col-sm-8">
					<input type="text" name="name" value="<%= item.name %>" class="form-control form-control-sm">
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-2 col-form-label text-sm-right required">Email</label>
				<div class="col-xs-12 col-sm-8">
					<input type="text" name="email" value="<%= item.email %>" class="form-control form-control-sm">
				</div>
			</div>
			<div class="form-group row">
				<label for="subject" class="col-sm-2 col-form-label text-sm-right required">Tiêu để</label>
				<div class="col-xs-12 col-sm-8">
					<input type="text" name="subject" value="<%= item.subject %>" class="form-control form-control-sm">
				</div>
			</div>
			<div class="form-group row">
				<label for="message" class="col-sm-2 col-form-label text-sm-right required">Nội Dung Tin Nhắn</label>
				<div class="col-xs-12 col-sm-8">
                    <textarea type="text" id="message-input-form" name="message" value="<%= item.message %>" class="form-control form-control-sm"><%= item.message %></textarea>
				</div>
			</div>
			

			<div class="form-group row">
				<label for="status" class="col-sm-2 col-form-label text-sm-right required">Trạng Thái</label>
				<div class="col-xs-12 col-sm-8">
					<select id="form[status]" name="status" class="custom-select custom-select-sm <%= errors.status && 'is-invalid' %>">
						<option value="novalue">Chọn Trạng Thái</option>
						<option value="active" <%= (item.status == "active") ? 'selected="selected"' : '' %> >Đã Phản Hồi</option>
						<option value="inactive" <%= (item.status == "inactive") ? 'selected="selected"' : '' %> >Chưa Phản Hồi</option>
					</select>
					<%- `<span class="error invalid-feedback">${errors.status}</span>` %>
				</div>
			</div>

		</div>
		<div class="card-footer">
			<div class="col-12 col-sm-8 offset-sm-2">
				<input class="form-control" name="id" value="<%= item.id %>" type="hidden" >
				<input name="image_old" value="<%= item.avatar %>" type="hidden"  />
				<input name="image_uploaded" value="" type="hidden" id="image_uploaded"  />
				<!-- <button type="submit" class="btn btn-sm btn-success mr-1"> Lưu</button> -->
				<a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Trở Lại</a>
			</div>
		</div>
	</form>
</div>

<script>
	ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .catch( error => {
            console.error( error );
    } );
		
		imgInp.onchange = evt => {
			const [file] = imgInp.files
			if (file) {
				showImage.src = URL.createObjectURL(file)
				image_uploaded.setAttribute('value','uploaded')
			}
		}
		function notImage(e,folder) {
				e.setAttribute('src',folder+'no-avatar.png')
		}
</script>