<% const collection="articles" ; const folderUpload=`uploads/${collection}/`; %>
<% include ../../../admin/helpers/userTimeInfo %>

    <div class="col-lg-8 post-list">
        <!-- Start latest-post Area -->
        <div class="latest-post-wrap">
            <h4 class="cat-title">Category</h4>
            <% itemsInCategory.slice(0, 5).forEach((item)=>{ %>
                <div class="single-latest-post row align-items-center">

                    <div class="col-lg-5 post-left">
                        <div class="feature-img relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="<%= folderUpload + item.thumbnail %>" alt="<%= item.title %>">
                        </div>
                        <ul class="tags">
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-7 post-right">
                        <a href="/articles/<%= item.id %>">
                            <h4>
                                <%= item.title %>
                            </h4>
                        </a>
                        <ul class="meta">
                            <!-- <li><a href="#"><span class="lnr lnr-user"></span>Admin</a></li> -->
                            <li><a href="#"><span class="lnr lnr-calendar-full"></span><%-showUserTimeInfo(item.createdAt) %>
                            </a></li>
                        </ul>
                        <p class="excert">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>
                <%}) %>
                    <!-- End latest-post Area -->
        </div>