<!--Page Title-->
<div class="page section-header text-center">
  <div class="page-title">
    <div class="wrapper">
      <h1 class="page-width">Tài Khoản</h1>
    </div>
  </div>
</div>
<!--End Page Title-->
<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/uploads/users/<%= userInfo.avatar%>"onerror="this.onerror=null; this.src='https://vyshnevyi-partners.com/wp-content/uploads/2016/12/no-avatar.png'"
              class="rounded-circle p-1 bg-primary" width="110"/>
              <div class="mt-3">
                <h4>
                  <%= userInfo.username %>
                </h4>
                <!-- <p class="text-secondary mb-1"><%= userInfo.username %></p> -->
                <p class="text-muted font-size-sm">
                  <%= userInfo.email%>
                </p>
                <!-- <button class="btn btn-primary">Follow</button>
                <button class="btn btn-outline-primary">Message</button> -->
              </div>
            </div>
            <hr class="my-4">
            <div class="row">

          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <form id="formProfile" action="" method="post">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Tên</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="username" class="form-control" value="<%= userInfo.username %> ">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="email" class="form-control" disabled value="<%= userInfo.email%>">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Số Điện Thoại</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="phone" class="form-control" value="<%= userInfo.phone%>">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Địa Chỉ</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="address" class="form-control" value="<%= userInfo.address%>">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button type="submit" class="btn  btn-block btn-lg gradient-custom-4 submitButton ">Thay Đổi Thông
                    Tin</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- <form id="formChangePassword" action="" method="post">
          <div class="form-outline mb-2">
            <input type="password"  name="password" class="form-control form-control-lg" required/>
            <label class="form-label" for="form3Example4cg">Mật khẩu Cũ</label>
          </div>
          <div class="form-outline mb-2">
            <input type="password"  name="password" class="form-control form-control-lg" required/>
            <label class="form-label" for="form3Example4cg">Mật khẩu Mới</label>
          </div>


          <div class="d-flex justify-content-center spinner">
            <button type="submit"
              class="btn btn-success btn-block btn-lg gradient-custom-4 ">Đổi</button>
          </div>
        </form> -->
    </div>
  </div>
</div>