<% const collection="blogArticle" ;
const folderUpload=`uploads/${collection}/`;
const folderProductUpload='uploads/products/';
 %>
<% include ../../helpers/showProductSidebar %>


<!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mb-0">
		</div>
        <!--End Page Title-->
	    <div class="bredcrumbWrap">
            <div class="container breadcrumbs">
                <a href="/" title="Back to the home page">Trang Chủ</a><span aria-hidden="true">›</span>
                <a href="/bai-viet">Bài Viết</a>
            </div>
        </div>
        <div class="container">
        	<div class="row">
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                    <div class="blog--list-view blog--grid-load-more">
                      <% listBlog.forEach((items)=> { %>
                        <div class="article"> 
                              <!-- Article Image --> 
                               <a class="article_featured-image" href="/chi-tiet-bai-viet/<%= items.id %>"><img class="blur-up lazyload" data-src="<%= folderUpload + items.thumbnail %>" src="<%= folderUpload + items.thumbnail %> alt="It's all about how you wear"></a> 
                              <h2 class="h3"><a href="/chi-tiet-bai-viet/<%= items.id %>"><%= items.title %> </a></h2>
                              <ul class="publish-detail">                      
                                  <li><i class="anm anm-user-al" aria-hidden="true"></i>  User</li>
                                  <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">May 02, 2017</time></li>
                              </ul>
                              <div class="rte"> 
                                <%= items.shortDes %> 
                              </div>
                              <p><a href="/chi-tiet-bai-viet/<%= items.id %>" class="btn btn-secondary btn--small">XEM CHI TIẾT <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                          </div>

                      <%})%>
                        <!-- <div class="loadmore-post">	
                            <a href="/" class="btn loadMorepost">XEM THÊM</a>
                        </div> -->
                    </div>
                </div>
                <!--End Main Content-->
                <!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
                	<div class="sidebar_tags">
                    	<div class="sidebar_widget categories">
                            <div class="widget-title"><h2>Danh Mục</h2></div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                    <% listCategory.slice(0,6).forEach((category)=> { %>
                                        <li class="lvl-1"><a href="/danh-muc/<%= category.id %>" class="site-nav"><%= category.name %></a></li>
                                    <%})%>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_widget">
                        	<div class="widget-title"><h2>Bài Viết Gần Đây</h2></div>
                      <div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    <% listBlog.forEach((items)=> { %>
                                      <div class="grid__item">
                                        <div class="mini-list-item">
                                          <div class="mini-view_image">
                                              <a class="grid-view-item__link" href="/chi-tiet-bai-viet/<%= items.id %>">
                                                  <img class="grid-view-item__image blur-up lazyload" data-src="<%= folderUpload + items.thumbnail %>" src="<%= folderUpload + items.thumbnail %>" alt="" />
                                              </a>
                                          </div>
                                          <div class="details"> <a class="grid-view-item__title" href="/chi-tiet-bai-viet/<%= items.id %>"><%= items.title %> </a>
                                            <div class="grid-view-item__meta"><span class="article__date"> <time datetime="2017-05-02T14:33:00Z">May 02, 2017</time></span></div>
                                          </div>
                                        </div>
                                      </div>            
                                    <%})%>
                                  </div>
                                </div>
                          	</div>
						</div>
                        <!-- <div class="sidebar_widget tags-clouds">
                        	<div class="widget-title"><h2>Tags Cloud</h2></div>
                            <div class="widget-content">
                                <ul>
                                	<li><a href="#">Fashion</a></li>
                                    <li><a href="#">Clothes</a></li>
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Sun Glasses</a></li>
                                    <li><a href="#">Winter</a></li>
                                    <li><a href="#">Autoparts</a></li>
                                </ul>
                          	</div> -->
						</div>
						<div class="sidebar_widget">
                        	<div class="widget-title"><h2>Sản Phẩm Thịnh Hành</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    <% listProductNewArrivals.slice(0,4).forEach((items)=> { %>
                                      <div class="grid__item">
                                          <div class="mini-list-item">
                                            <div class="mini-view_image">
                                                <a class="grid-view-item__link" href="/san-pham/<%= items.id %>">
                                                    <img class="grid-view-item__image" src="<%= folderProductUpload + items.images.split(",")[0]%>" alt="" />
                                                </a>
                                            </div>
                                            <div class="details"> <a class="grid-view-item__title" href="/san-pham/<%= items.id %>"><%= items.name %></a>
                                              <div class="grid-view-item__meta"><span class="product-price__price"><span class="money"><%= items.price.toLocaleString() %> ₫ </span></span></div>
                                            </div>
                                          </div>
                                        </div>
                                  <%})%>
                                  </div>
                                </div>
                          	</div>
						</div>
                    </div>
                </div>
                <!--End Sidebar-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->